.priorityBox {
    top: 0;
    left: 15px;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 40px;
    height: 10px
}

.deleteButton {
    cursor: pointer;
    color: white;
    height: 2rem;
    width: 2rem;
    top: -0.5rem;
    right: -0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 2rem;
    background-color: #a51010d6;
}

.deleteButton:hover {
    background-color: rgba(130, 20, 20, 0.839);
}